<div *ngIf="products.length >0; else noproducts">
<ul class="list-group"> 
    <li class="list-group-item list-group-item-action" *ngFor="let item of products">
      <h5>{{item.name}} </h5>
      <h3>${{item.price}} </h3>
      <p>{{item.description}} </p>
      <button class="btn btn-danger" (click)="DeleteProduct($event, item)">Borrar</button>
      <button class="btn btn-secondary" (click)="EditProduct($event, item)">Editar</button>
    <div *ngIf="editing && editingProduct.id==item.id">
        <form (ngSubmit)="UpdateProduct($event, item)">
            <div class="from-group mt-3">
                <input class="form-control" type="text" name="name" [(ngModel)]="editingProduct.name">
            </div>
            <div class="from-group">
                <input class="form-control" type="text" name="description" [(ngModel)]="editingProduct.description">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="price" [(ngModel)]="editingProduct.price">
            </div>
            <button class="btn btn-success btn-block"type="submit">Save</button>
        </form>
    </div>
    </li>|
  </ul>
</div>

<ng-template #noproducts>

<p>No hay productos todavia!</p>
</ng-template>