<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Angular FireStore</a>
  </nav>

  <div class="container pt-4" >
      <div class="row">
          <div class="col-md-5">
            <app-product-form></app-product-form>
          </div>
          <div class="col-md-7">
            <app-products></app-products> 
          </div>
      </div>

    
    
  </div>
