<div class="card card-body">
    <form (ngSubmit)="addProduct()">
        <div class="form-group">
                <input placeholder="ProductName" class="form-control" type="text" name="name" [(ngModel)]="product.name">
        </div>
        <div class="form-group">
            <input placeholder="ProductDescription" class="form-control"type="text" name="description" [(ngModel)]="product.description">
        </div>
        <div class="form-group">
            <input placeholder="ProductPrice" class="form-control"type="number" name="price" [(ngModel)]="product.price">
        </div>
        
        <button type="submit" class="btn btn-dark btn-bloc k">Save</button>
    </form>
</div>



